.header-content h1{
    font-size: 10vmin;
    margin-top: 50px;
    margin-bottom: 30px;
  }
  .banner{
    width:80%;
    height:0vh;
    background-image: linear-gradient(rgba(0,0,0,0,0.75)), (rgba(0,0,0,0,0.75)),url("https://img.freepik.com/premium-vector/listening-music-while-doing-work-from-home_701961-151.jpg?w=996");
    background-size: cover;
    background-position: center;
    background-color:rgb(219,86,86);
  }
  
  h1{
  font-size: 18vh;
  text-align: center;
  
  }
  
  body {
    min-height: 100%;
    min-width: 100%;
    background: linear-gradient(hsl(0, 14%, 96%),rgb(252, 250, 250));
  background-color: rgb(248, 254, 254);
  }
  
  #list {
    margin: 10px;
    border: 1px solid #333;
    background: rgba(255, 255, 255, 0.75);
    padding: 15px 20px 18px 18px;
    border-radius: 5px;
    box-shadow: 2px 5px 5px #333;
  }
  
  
  header {
    width:100vw;
    height: 100vh;
    display: flex;
  }
  .header-content h2{
    font-size: 4vmin;
  }
  
  html {
      height: 100%;
      width: 100%;
      font-family: "Titillium Web", sans-serif;
    }
  
    .line {
      width: 150px;
      height: 4px;
      background-color: #fc036b;
      margin: 10px auto;
      border-radius: 5px;
    }
    
    
    button {
      font-size: 12px;
    }
    
    #main-content {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      border: 1px solid #333;
      background: rgba(255, 255, 255, 0.3);
      padding: 15px 20px 18px 18px;
      border-radius: 5px;
      box-shadow: 2px 5px 5px #333;
    }
    .bg-img{
      width: 30%;
      height: 40%;
    
    }
  
  .contain{
      width:500px;
      height: 281px;
  }
  
    .play-btn{
      width: 60px;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%);
      cursor:pointer;
    }
  
    .small-img.play-btn{
      width: 35px;
    }
  
    .close-btn{
      position: absolute;
      top:10px;
      right:10px;
      width: 30px;
    }
  
    .topnav{
      overflow: hidden;
      background-color: #e9e9e9;
    }
    .topnav a {
      float: left;
      display: block;
      color: black;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
    }
    .topnav a:hover {
      background-color: #ddd;
      color: black;
    }
  
    .topnav .search-container {
      float: right;
    }
    
    .topnav input[type=text] {
      padding: 6px;
      margin-top: 8px;
      font-size: 17px;
      border: none;
    }
  
    /* .topnav .search-container button:hover {
      background: #ccc;
    }
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      width: 200px;
      background-color: #f1f1f1;
    } */
    
    /* li a {
      display: block;
      color: #000;
      padding: 8px 16px;
      text-decoration: none;
    } */
  
  
    .navbar {
      overflow: hidden;
      background-color: #333;
      font-family: Arial;
    }
  
    .navbar a {
      float: left;
      font-size: 17px;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      width: 80%;
    }
    .dropdown {
      float: left;
      overflow: hidden;
    }
    .dropdown .dropbtn {
      cursor:pointer;
      font-size: 16px;
      border: none;
      outline: none;
      color: white;
      padding: 14x 16px;
      background-color: inherit;
      font-family: inherit;
      margin: 0;
    }
    .navbar a:hover, .dropdown:hover .dropbtn, .dropbtn:focus{
  background-color: rgb(22, 1, 1);
    }
    .dropdown-content {
      display: none;
      position: absolute;
      background-color: aquamarine;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
    .dropdown-content a {
      float: none;
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      text-align: left; 
    }
    .dropdown-content a:hover {
      background-color: #ddd;
    }
  
    .dropdown:hover .dropdown-content{
      display: block;
    }
    .topnav {
      background-color: #333;
      overflow: hidden;
  }
  
  Style the links inside the navigation bar
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  
  .navbar {
  display: block;
  margin: none;
  float: left;
  }
  
  
  