.header-content h1{
  font-size: 10vmin;
  margin-top: 80px;
  margin-bottom: 60px;
}
h1{
  font-size: 18vh;
  text-align: center;
  position:inherit;
}

body{
  background-color:peru;

}
.bg-img{
  width: 30%;
  height: 40%;
}
.banner{
  width: 80%;
  height: 0vh;
}
*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing:border-box
}
body{
  font-family:Arial, Helvetica, sans-serif;

}
nav{
  background: #0082e6;
  height: 20px;
  width: 100%;
}

nav ul{
  float:center;
  margin-right:20px;
}
nav ul li{
  display:inline-block ;
  line-height:0px;
  margin:5px
}

nav ul li a{
  color:white;
  font-size:17px;
}

